.postWrapper {
    background: white;
    margin-top: 2rem;
    padding: 1rem;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.postHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.postHeaderUserName {
    display: flex;
    gap: 1rem;
}