.App {
  min-height: 200vh;
  min-width: 100vw;
  background: var(--input-color);
  background-image: url("/src//assets/wave.svg");
  background-position: bottom;
  background-repeat: no-repeat;
}

main {
  padding-top: 8rem;
  padding-left: 14%;
  padding-right: 14%;
}
