@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

:root {
  --main-color: #0082f4;
  --input-color: #f3f3f3;

  --border-radius: 0.5rem;
  --gap: 1rem;
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

html {
  font-size: 100%;
}

@media (max-width: 1080px) {
  html {
    font-size: 90%;
  }
}

body {
  background: var(--bg-color01);
}
